#PageTitle {
    background-color: rosybrown;
    text-align: center;
}

#FullPage {
    background-color: 
    pink;
    text-align: left;
}

#MainTitle {
    text-align: center;
}

.horizontal-list {
    list-style-type: none; *removes bullet points
    padding: 0;
    margin: 0;
}

.horizontal-list li{
    display: inline-block;
    margin-right:50px
}

.container {
    display:flex-end;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

