.PageTitle {
  background-color: rosybrown;
  text-align: center;
}

#FullPage {
  background-color: lightcyan;
  text-align: left;
}

.main-title {
    text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.horizontal-list li {
  display: inline-block;
  margin-right: 90px;
}



/* style the table borders */
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px 10%;
}

/* align the table */
.reviewTable {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-frame {
    border: 10px solid black;
    padding: 10px;
    /* border-radius is to make it round */
}

/* color the table */
.reviewTable .reviewCol {
  background-color: burlywood;
}

.reviewTable tr {
  background-color: white;
  transition-duration: 1.2s;
}

/* color each row when the mouse hovers over it */
.reviewTable tr:hover {
  background-color: rgb(240, 213, 126);
  transition-duration: 0.2s;
}


#aboutJohanna {
  text-align: center;
}
#aboutJohanna ul li {
  list-style-type: none;
}

#aboutJoseph {
  text-align: center;
}

#aboutJoseph ul li {
  list-style-type: none;
}


